---
layout: default
---
<section class="main-body main-singleton">
	{% if page.cta.text %}
	<div class="main-title row py-4">
		<div class="col-md-6 col-12 text-md-left text-center">
			<h1 class="m-0 p-0">{{ page.title | escape | replace: "!!conference.year!!", site.conference.year | replace: "!!conference.location!!", site.conference.location | replace: "!!conference.dates!!", site.conference.dates }}</h1>
		</div>
		<div class="col-md-6 col-12 pt-md-0 py-4 text-md-right text-center cta">
		{% if page.cta.link and page.cta.title %}
			<a href="{{ page.cta.link }}" class="btn btn-lg btn-primary rounded-pill" title="{{ page.cta.title }}"><span class="pl-2 pr-1">{{ page.cta.text }}</span><span class="pr-2 arrow">&rarr;</span></a>
		{% else %}
			<a class="btn btn-lg btn-outline-primary disabled rounded-pill">{{ page.cta.text }}</a>
		{% endif %}
		</div>
	</div>
	{% else %}
	<div class="main-title py-4 text-center">
		<h1 class="m-0 p-0">{{ page.title | escape | replace: "!!conference.year!!", site.conference.year | replace: "!!conference.location!!", site.conference.location | replace: "!!conference.dates!!", site.conference.dates }}</h1>
	</div>
	{% endif %}
    <div class="main-content">
		<article>
			{{- content -}}
		</article>
    </div>
</section>